h1 {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pink_shirt {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 319px) and (max-width: 480px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 480px) and (max-width: 900px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
