h1 {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.years{
  text-align: center;
}

.clear{
  text-decoration: none;
  color: inherit;
}

.pink_shirt {
  max-width: 100%;
  height: 500px;
  
}

.side-by-side {
  display: flex;
  gap: 10px;          /* space between images */
  justify-content: center;
}

.side-by-side img {
  width: 50%;         /* each takes half */
  height: auto;
  object-fit: cover;  /* optional: fill nicely */
}

.side-by-side > .twenty-five{
  width: 25%;
  height: auto; 
  object-fit: cover;
}


.carousel-item img {
    width: 100%;
    height: 350px;      /* adjust as needed */
    object-fit: contain;
    background-color: black; /* optional */
}

@media (min-width: 319px) and (max-width: 480px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 480px) and (max-width: 900px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
