.pink_shirt{
  max-width: 100%;
  height: 50%;
}

@media (min-width: 319px) and (max-width: 480px){
      .grid-container{
        display: flex;
        flex-direction: column;
      }
}

@media (min-width: 480px) and (max-width: 900px){
    .grid-container{
        display: flex;
        flex-direction: column;
    }
}